{% extends "hyena/base.html" %}

{% block content %}

{% block title %} Observation {% endblock %}

<div class="container">

{% if obs_list %}
    <table class="table-striped">
      <tr>
        <th>adsb_hex</th>
        <th>flight</th>
        <th>altitude</th>
        <th>speed</th>
        <th>track</th>
        <th>range</th>
        <th>bearing</th>
        <th>time</th>
      </tr>

    {% for row in obs_list %}
        <tr>
            <td><a href="/hyena/{{ row.id }}/">{{ row.adsb_hex }}</a></td>
            <td>{{ row.flight }}</td>
            <td>{{ row.altitude }}</td>
            <td>{{ row.speed }}</td>
            <td>{{ row.track }}</td>
            <td>{{ row.range }}</td>
            <td>{{ row.bearing }}</td>
            <td>{{ row.obs_time }}</td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <p>no observation items are available.</p>
{% endif %}

</div>

{% endblock %}