<!DOCTYPE html>

<html lang="en">
  <head>
    {% block title %}<title>Mellow Hyena</title>{% endblock %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Add additional CSS in static file -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'hyena/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'hyena/css/styles.css' %}">
  </head>

  <body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
                {% block sidebar %}
                    <ul class="sidebar-nav">
                        <li>ADSB Exchange</li>
                        <li><a href="{% url 'adsb_exchange_adsb' %}">Sort By ADSB</a></li>
                        <li><a href="{% url 'adsb_exchange_flight' %}">Sort By Flight</a></li>
                        <li><a href="{% url 'adsb_exchange_model' %}">Sort By Model</a></li>
                        <li><a href="{% url 'adsb_exchange_reg' %}">Sort By Reg</a></li>
                    </ul>
                    <ul class="sidebar-nav">
                        <li>Observation</li>
                        <li><a href="{% url 'obs_adsb' %}">Sort By ADSB</a></li>
                        <li><a href="{% url 'obs_flight' %}">Sort By Flight</a></li>
                        <li><a href="{% url 'obs_time' %}">Sort By Time</a></li>
                    </ul>
                {% endblock %}
            </div>
            <div class="col-sm-10">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
  </body>
</html>