{% extends "wombat/base.html" %}

{% block taskbar %}
    <h2>Mellow Wombat/Heeler</h2>
  
    <div>
        {% if observation_list %}
            <table border="5" cellpadding="5">
                <thead class="thead-inverse">
                    <tr>
                        <th>Obs Time</th>
                        <th>SSID</th>
                        <th>Frequency</th>
                        <th>BSSID</th>
                    </tr>
                </thead>

                <tbody>
                    {% for obs in observation_list %}
                        <tr style="outline:thin solid">
                            <td>{{ obs.time_stamp }}</td>
                            <td>{{ obs.ssid }}</td>
                            <td>{{ obs.frequency_mhz }}</td>
                            <td>{{ obs.bssid }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Must define heeler observation</p>
        {% endif %}
    </div>
{% endblock %}
