Package: mellow-wombat
Architecture: all
Version: 1.0
Essential: no
Priority: optional
Section: misc
Maintainer: guycole <guycole@gmail.com>
Standards-Version: 4.7.0
Description: base mellow wombat install
Depends: atop,awscli,build-essential,cmake,git,libffi-dev,libusb-1.0-0-dev,libyaml-dev,rsync,tmux,uuid-runtime,virtualenv,zlib1g-dev 